<!doctype html>
<head>
  <%- include('../parts/head') %>
</head>
<body>
  <header>
    <h1>
      <a href="/">
        <image alt="UNC Chapel Hill AAUP logo" src="/assets/AAUP-CH.svg">
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/#officers">Officers</a></li>
        <li><a href="/#related">Related Orgs</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li><a href="/bylaws">Bylaws</a></li>
        <li><a href="https://www.aaup.org/membership/join">Join</a></li>
        <li>
          <a href="https://twitter.com/unc_ch_aaup">
            <img alt="Twitter icon" src="/assets/tweeter.svg">
          </a>
        </li>
        <li>
          <a href="/<%= feed.atom %>">
            <img alt="Feed icon" src="/assets/feed.svg">
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <%- main %>
  </main>
  <footer class="right">
    <span>
      Last updated
      <time datetime="<%= site.timestamp.iso %>">
        <%= site.timestamp.pretty %>
      </time>
    </span>
  </footer>
</body>
